<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano de publicação</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        {% include 'livros/lista.html.jinja' %}
    </tbody>
</table>