<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/htmx.js"></script>
    <title>Gerenciador de livros pessoal</title>
</head>
<body>
    <table>
        <tbody>
            {% for autor in autores %}
                <tr>
                    <td>
                        {{ autor.nome }}
                    </td>
                    <td>{{ autor.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Id: {{ id }}</h2>
</body>
</html>